.modal__inputContainer {
    display: flex;
    flex-direction: column;
}
.modal__label,
.modal__priority {
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: 700;
}
.modal__input {
    background: #fff;
    border: 1px solid #d8e0f0;
    border-radius: 14px;
    box-shadow: 0 1px 2px rgba(184,200,224,.222);
    font-weight: 400;
    outline: none;
    padding: 16px 18px;
    width: 95%;
    margin-top: 1rem;
    
}

.modal__priorityContainer {
    margin-top: 2rem;
}

.priority-list {
display: flex;
justify-content: start;
padding-left: 0;    
}

.priority {
    text-transform: capitalize;
    border-radius: 10px;
    padding: 1rem 3rem;
    margin-right: 1rem;
}

.high-select {
    color: #f73446;
    border: 1px solid #f73446;
    cursor: pointer;
}

.medium-select {
    color: #ffbd21;
    border: 1px solid #ffbd21;
    cursor: pointer;
}

.low-select {
    color: #0ac947;
    border: 1px solid #0ac947;
    cursor: pointer;
    margin-right: 0;

}

.high-active {
    color: white;
    background-color:#f73446;
}
.medium-active {
    color: white;
    background-color:#ffbd21;
}
.low-active {
    color: white;
    background-color:#0ac947;
}

.add-item-button-container {
    display: flex;
    justify-content: end;
    margin-top: 4rem;
}