
.high-select {
    color: #f73446;
    border: 1px solid #f73446
}

.medium-select {
    color: #ffbd21;
    border: 1px solid #ffbd21
}

.low-select {
    color: #0ac947;
    border: 1px solid #0ac947
}

